<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">Dokku GUI</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
      <ul class="nav navbar-nav">
        <li class="<%= "active" if is_active_controller('main') && is_active_action('dashboard') %>">
          <%= link_to "Dashboard", root_path %>
        </li>
        <li class="<%= "active" if is_active_controller('apps') %>">
          <%= link_to "Apps", apps_path %>
        </li>
        <li class="<%= "active" if is_active_controller('containers') %>">
          <%= link_to "Containers", containers_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>
